@{
    ViewData["Title"] = "Crea genere";

    Layout = "_EditorLayout";
}

@model Genre

<form asp-controller="Genre" asp-action="Store" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Nome genere:</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Inserisci nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>