@{
    ViewData["Title"] = "Modifica caratteristica";

    Layout = "_EditorLayout";
}

@model Feature

<form asp-controller="Feature" asp-action="Update" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Nome caratteristica:</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Inserisci nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>